.footer__navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100px;
  max-width: 1200px;
  list-style: none;
}

.footer__nav-link {
  color: #333;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  border-right: 1px solid #a5a5a5;
  padding: 0 10px;
}

.footer__nav:last-child .footer__nav-link {
  border: none;
}
