.form__input {
  appearance: none;
  border: 1px solid #abc;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form__input--lg {
  width: 400px;
  height: 35px;
}

.form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: white;
  background-color: #07bf69;
  background-position: center center;
  cursor: pointer;
  outline: 0px;
  padding: 10px 16px;
  line-height: 1;
  white-space: nowrap;
  appearance: none;
  border: none;
  transition: box-shadow 200ms ease-out;
  font-weight: bold;
}

.form__button:hover {
  box-shadow: rgb(126 125 125 / 15%) 0px 10px 20px 0px;
}

.form__button:disabled {
  opacity: 0.4;
  pointer-events: none;
}

.form__button--lg {
  padding: 15px 30px;
}
