.form__input-container {
  position: relative;
}
.form__input {
  appearance: none;
  background-color: #fff;
  border: 1px solid #abc;
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: #212529;
  outline: none;
  width: 100%;
  padding: 6px 10px;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  transition: box-shadow 200ms ease-out;
}

.form__input:focus {
  box-shadow: 1px 1px 5px rgb(99 102 241 / 35%);
  border: 1px solid rgb(99 102 241 / 40%);
}

.form__input--lg {
  height: 48px;
  padding: 8px 15px;
  font-size: 1rem;
}

.form__input--lg:focus {
  box-shadow: none;
  border: 2px solid rgb(99 102 241 / 40%);
  padding: 7px 14px;
}

.form__input-icon {
  color: #adadad;
  position: absolute;
  top: 17px;
  right: 10px;
}

.form__field-group {
  display: flex;
  justify-content: flex-start;
}

.form__field-group .form__input-container:not(:first-child) {
  margin-left: 10px;
}

.form__error {
  font-size: 11px;
  color: red;
}

.form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  outline: 0px;
  padding: 10px 16px;
  line-height: 1;
  white-space: nowrap;
  appearance: none;
  border: none;
  font-weight: bold;
  transition: background-color 200ms ease-out;
  text-decoration: none;
}

.form__button:disabled {
  opacity: 0.4;
  pointer-events: none;
}

.form__button--shadow {
  transition: box-shadow 200ms ease-out;
}

.form__button--shadow:hover {
  box-shadow: rgb(126 125 125 / 15%) 0px 10px 20px 0px;
}

.form__button--primary {
  background-color: #6366f1;
  color: white;
}

.form__button--success {
  background-color: #07bf69;
  color: #fff;
}

.form__button--sm {
  padding: 8px 13px;
  font-size: 11px;
}

.form__button--lg {
  padding: 15px 30px;
}

.form__button-icon--loading {
  animation: loading 1s infinite linear;
  font-size: 16px;
  padding: 2px;
}
