.form__input {
  appearance: none;
  outline: none;
  border: 1px solid #abc;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border-radius: 0.25rem;
}

.form__input--lg {
  width: 400px;
  height: 35px;
}

.form__input-search {
  transition: box-shadow 200ms ease-out;
}

.form__input-search:focus {
  box-shadow: 1px 1px 10px rgb(100 100 100 / 50%);
}

.form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  outline: 0px;
  padding: 10px 16px;
  line-height: 1;
  white-space: nowrap;
  appearance: none;
  border: none;
  font-weight: bold;
  transition: background-color 200ms ease-out;
}

.form__button:disabled {
  opacity: 0.4;
  pointer-events: none;
}

.form__button--shadow {
  transition: box-shadow 200ms ease-out;
}

.form__button--shadow:hover {
  box-shadow: rgb(126 125 125 / 15%) 0px 10px 20px 0px;
}

.form__button--green {
  background-color: #07bf69;
  color: #fff;
}

.form__button--sm {
  padding: 8px 13px;
  font-size: 11px;
}

.form__button--lg {
  padding: 15px 30px;
}
