.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.navbar__section {
  display: flex;
  align-items: center;
}

.navbar__link {
  cursor: pointer;
  padding: 10px;
}

.navbar__logo {
  min-width: 40px;
  max-height: 100%;
  margin-right: 20px;
}

.navbar__cart {
  cursor: pointer;
  font-size: 22px;
  padding: 10px 15px;
}

.navbar__cart--disabled {
  color: #ababab;
  pointer-events: none;
}

.navbar__user {
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
