html {
  --color-text-primary: #333;
  --color-text-secondary: #666666;
  --color-background: white;
  --color-primary: #6366f1;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: var(--color-text);
  font-size: 14px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100%;
}

main {
  flex-grow: 1;
  max-width: 100%;
}
