.login-wrapper {
  background-color: #fbfbfb;
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 160px);
}

.login-container {
  background-color: white;
  box-shadow: 1px 2px 15px rgb(100 100 100 / 13%);
  border-radius: 6px;
  padding: 10px 50px 40px;
  max-width: 300px;
  margin: 0 auto;
}

.login-title {
  text-align: center;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 13px;
}

.login-form .form__input-container {
  margin-bottom: 15px;
  width: 100%;
}

.login-form .form__button {
  width: 100%;
  margin: 10px 0 20px;
}

.login__link {
  color: #6366f1;
  margin: 0 10px;
  text-decoration: none;
  font-weight: 500;
}

.login__link:hover {
  color: #a00de9;
}
