.main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1000px;
  margin: 0 auto;
  flex-direction: column;
  padding: 20px 10px 40px;
  font-size: 15px;
}

.menu-container {
  width: 100%;
}

.product__card {
  background-color: #fff;
  cursor: default;
  width: 100%;
  border: 1px solid #f5f5f5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 4px;
  overflow: hidden;
  transition: 200ms ease-out box-shadow;
  position: relative;
}

.product__card:hover {
  box-shadow: 0px 2px 11px 4px rgb(0 0 0 / 8%);
}

.product__image {
  width: 100px;
  height: 80px;
  flex-shrink: 0;
  background-size: cover;
  background-position: center center;
}

.product__info {
  padding-left: 10px;
  line-height: 1.2em;
  width: calc(100% - 100px);
  box-sizing: border-box;
}

.menu-list {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 25px;
}

.menu-filters {
  background-color: #fff;
  padding: 10px;
  position: sticky;
  top: 65px;
  display: flex;
  justify-content: flex-start;
  overflow-y: scroll;
  width: 100%;
  z-index: 10;
}

.products {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.menu-filter {
  padding: 8px 20px;
  font-size: 11px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  background-color: #f8f8f8;
  border-radius: 22px;
  flex-shrink: 0;
  margin-right: 10px;
}

.menu-filter:hover {
  background-color: #cdd3d5;
}

.menu-filter:focus,
.menu-filter--active {
  background-color: #f4d88d;
}

.group-header {
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  margin: 20px 0;
}

.group-header:first-child {
  margin-top: 0;
}

.product__title {
  font-size: 0.8em;
  font-weight: bold;
}

.product__price {
  color: #07bf69;
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 10px;
}

.product__description {
  color: #888;
  font-size: 0.7em;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 75%;
  white-space: nowrap;
}

.product__add-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

@media screen and (min-width: 1100px) {
  .menu-filters {
    display: block;
    width: 18%;
    top: 10px;
    padding: 0;
  }

  .menu-filter {
    margin-bottom: 15px;
  }

  .main-container {
    flex-direction: row;
    font-size: 16px;
  }

  .menu-container {
    width: 68%;
  }

  .products {
    width: 78%;
  }
}

@media screen and (min-width: 1200px) {
  .main-container {
    max-width: 1200px;
  }
}
